<html>
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style.css" />
	<style type="text/css">
		h1, h2, h3, h4{
			font-family: 'Playfair Display', serif;
		}
		table, th, td{
			border: 1px solid black;
		}
        td {padding: 5px}
		table {width:100%}
		.pick_flight {border: 1px #DDD solid; padding: 5px; cursor: pointer;}
		tr.pick_flight:hover { background-color : #FDF0D5; }
		.selected {
			background-color: #89ae37;
			color: #FFF;
		}
		.error {
			font-weight: 700;
			color: red;
		}
		.center {
			margin: auto;
			width: 70%;
			padding: 10px;
		}
	</style>
</head>
<body class="center">
<h4>This is the form for adding an airport</h4>
<a href="/staffHome"><button>Go back home</button></a>

<form action="/airport" method="POST">
    <input type="text" name = "airport_code" placeholder="airport_code" required/></br>
    <input type="text" name = "name" placeholder="name" required/></br>
    <input type="text" name = "city" placeholder="city" required/></br>
    <input type="text" name = "country" placeholder="country" required/></br>
    <input type="text" name = "type" placeholder="type" required/></br>
    <input type="submit" value = Submit />
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
    {% if message %}
    <p class="message">{{message}}</p>
{% endif %}
</form>
</body>
</html>