<p>This is the form for registering as a customer<p>

<form action="/registerAuth/customer" method="POST">
    <input type="text" name = "email" placeholder="email" required/></br>
    <input type="text" name = "name" placeholder="name" required/></br>
    <input type="password" name = "password" placeholder="password" required/></br>
    <input type="text" name = "building_number" placeholder="building number" required/></br>
    <input type="text" name = "street" placeholder="street" required/></br>
    <input type="text" name = "city" placeholder="city" required/></br>
    <input type="text" name = "state" placeholder="state" required/></br>
    <input type="text" name = "phone" placeholder="1234567890" required/></br>
    <input type="text" name = "passport_number" placeholder="passport_number" required/></br>
    <input type="text" name = "passport_expiration" placeholder="2023" required/></br>
    <input type="text" name = "passport_country" placeholder="USA" required/></br>
    <input type="text" name = "date_of_birth" placeholder="YYYY-MM-DD" required/></br>
    <input type="submit" value = Register />
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
</form>