<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1>
	<input type="text" name = "blog" placeholder="post" required/> </br>
	<input type="submit" value = Post />
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Time</th>
	<th>Post</th>

</table>

<form action="/flight/search/" method="POST">
	<input type="text" name = "source" placeholder="source" required/>
	<input type="text" name = "destination" placeholder="destination" required/>
	<input type="text" name = "departure_date" placeholder="departure_date" required/>
	<input type="submit" value = Submit />
</form>
{%if flights%}
	<p> {{flights.items}} </p>
	{% for dictionary in flights %}
	{% for key, value in dictionary.items %}
	  <p>{{ key }} : {{ value }}</p>
	{% endfor %}
  {% endfor %}
{%endif%}

<a href="/logout">Logout</a>

</body>


</html>
