<html>
<head>
</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1>
	<input type="text" name = "blog" placeholder="post" required/> </br>
	<input type="submit" value = Post />
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Time</th>
	<th>Post</th>

</table>

<p>Search for flights</p>
<form action="/flight/search/" method="POST">
	<input type="text" name = "source" placeholder="source" required/>
	<input type="text" name = "destination" placeholder="destination" required/>
	<input type="text" name = "departure_date" placeholder="departure_date" required/>
	<input type="submit" value = Submit />
</form>

<p>Search for a flight's status</p> 
<form action="/flight_status/view/" method="POST">
	<input type="text" name = "airline" placeholder="airline" required/>
	<input type="text" name = "flight_number" placeholder="flight_number" required/>
	<input type="text" name = "departure_date" placeholder="departure_date" required/>
	<input type="text" name = "arrival_date" placeholder="arrival_date"/>
	<input type="submit" value = Submit />
</form>

<a href="/logout">Logout</a>

</body>


</html>
