<html>
<head>
</head>
<body>
<a href="/customerRegister"><button>Register as Customer</button></a>
<a href="/staffRegister"><button>Register as Staff</button></a>

<!--
<form action="/registerAuth" method="POST">
	<input type="text" name = "username" placeholder="username" required/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
-->
<a href="/">Go back</a>
</body>
</html>
