<p>This is the form for registering as a staff<p>

    <form action="/registerAuth/airline_staff" method="POST">
        <input type="text" name = "username" placeholder="username" required/></br>
        <input type="password" name = "password" placeholder="password" required/></br>
        <input type="text" name = "first_name" placeholder="first_name" required/></br>
        <input type="text" name = "last_name" placeholder="last_name" required/></br>
        <input type="text" name = "date_of_birth" placeholder="YYYY-MM-DD" required/></br>
        <input type="text" name = "airline" placeholder="airline" required/></br>
        <input type="text" name = "phone_number" placeholder="1234567890" required/></br>
        <input type="submit" value = Register />
        {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </form>